<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>page d'accueil</title>
    <link rel="stylesheet" href="moncss.css">
</head>

<body>

<header>
    <h1>Une application WEB avec express</h1>
    <nav>
        <ul><li><a href="/">Accueil</a></li>
            <li><a href="/form">Formulaire</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Page d'accueil</h2>
    <p>Bonjour vous voici sur la page d'accueil</p>
</main>

<footer>
    <p>TP node express</p>
</footer>

</body>
</html>