<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>page d'accueil</title>
    <link rel="stylesheet" href="moncss.css">
</head>

<body>
<header>
    <h1>Une application WEB avec express</h1>
    <nav>
        <ul><li><a href="/">Accueil</a></li>
            <li><a href="/form">Formulaire</a></li>
        </ul>
    </nav>
</header>
<h2>Formulaire</h2>
<main>
    <form action="form" name="form" method="post">
        <label for="message">Message</label>
        <input type="text" id="message" name="message">
        <button type="submit">OK</button>
    </form>


</main>

<footer>
    <p>TP node express</p>
</footer>

</body>
</html>