doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Accueil
        link(
            type="text/css"
            rel="stylesheet"
            href="style.css"
        )
    body
        h1 Bienvenue !
        nav
            ul
                li
                    a(href="/") Accueil
                li
                    a(href="/test") Formulaire
        footer
            p TP Node